/*기본태그*/

/**/
body {
 
}

ul,
ol,
li {
  list-style: none;
}

.myungjo {
  font-family: "Noto Serif KR";
}

.bg-white {
  background-color: white;
}

.bg-bigger {
  height: 25em;
}

.bg-gray {
  background-color: gray;
}

.bg-lightgray {
  background-color: lightgray;
}

.small-title {
  font-family: "Noto Serif KR";
}

/*새로 만든 클래스 태그*/

.infoBox {
  position: relative;
  padding-bottom: 6.5rem;
}

.posterbox {
  display: inline-block;
  width: 10rem;
}

.posterbox .posterImg {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1rem solid #dadee3;
  box-sizing: border-box;
}

.info_summary {
  display: inline-block;
}

.info_summary .title {
  overflow: hidden;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  padding-left: 0.3em;
  margin-bottom: 1.5em;
}

.info_summary ul{
  padding-left: 0.5em;
  font-size: 0.9em;
}

.info_summary .info .infoLabel{
  display: inline-block;
  width: 9rem;
  padding-right: 0.5rem;
  color: #000;
  font-size: 0.95em;
  font-weight: normal;
  line-height: 160%;
  vertical-align: top;
  box-sizing: border-box;
}

.info_summary .info .infoDesc {
  display: inline-block;
  font-size: 0.9em;
  max-width: 39rem;
  vertical-align: top;
}

.infoDesc .infoText {
  position: relative;
  color: #000;
  font-size: 1rem;
  line-height: 160%;
  margin-left: 5px;
}
/* 미디어 쿼리: 화면 너비가 768px 미만인 경우 */
@media (max-width: 767px) {
  .infoBo .row {
    flex-direction: column; /* 수직 배치로 변경 */
    justify-items: center;
  }

  .posterbox,
  .info_summary {
    max-width: none; /* 모바일에서 최대 너비 제거 */
  }
  .info_summary .info .infoItem .infoLabel {
    width: auto;
  }
  .info ul{
    padding-left: 1rem;
  }

}


#selectdateForm{
  padding: 0;
}

.dateBox {
  width: 100%;
  position: relative;

  padding-bottom: 6.5rem;
}

.selectTitle {
  margin: 0px 20px;
  padding: 20px 0px;
}

.datelistBox {
  
  overflow: hidden;
  display: block;
  margin-top: 1rem;
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
}

.selectTitle {
  margin: 0px 0.1em;
  padding: 0.4em 0;
  border-bottom: 1px solid #ebebeb;
  font-size: 0.95em;
}

.datelistBox, .numticketBox{
  position: relative;
  float: left;
  text-align: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px;
  padding: 0 0.5em;
}

.datelist {
  padding: 12px 15px 15px 30px;
  width: 80%;
  margin-bottom: 0px;
}

.datelistBox .datelist li {
  text-align: center;
  list-style: none;
}


.dateselectBtn {
  display: flex;
  text-align: center;
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
}

.dateselectBtn .datetext {
  margin: auto;
  color: #000;
}
.datelistBox .datelist li .datetext, #floatingSelect{
  font-size: 0.8em;
}

#floatingSelect{
  width: 10em;
  height: 2.5em;
  margin: auto;
  margin-top: 1em;
  overflow: auto;
}

@media (max-width: 768px) {
  
  .selectTitle {
    font-size: 0.65em;
  }
  .datelistBox .datelist li .datetext, #floatingSelect{
    font-size: 0.6em;
  }
  #floatingSelect{
    height: 3em;
  }
}

.datelistBox .datelist li .datebtn{
  padding: 0.2em;
  text-align: center;
  margin-top: 0.9em;
}

.numticketBox {
  overflow: hidden;
  overflow-y: auto;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.inputBox {
  font-size: 15px;
  width: 100%;
  padding: 30px;
}

.inputBox label {
  color: #ebebeb;
}

.inputBox label p {
  font-size: 1em;
  color: #000;
}

.inputTable {
  font-size: 1em;
}
.inputTable .row .discount {
  position: relative;
}
.inputTable .row .discount .type,
.inputTable .row .discount .price {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.inputTable .row .discount p .type {
  font-weight: bold;
}
.inputTable .row .discount p .price {
  text-align: center;
}

.accInfo {
  text-align: center;
  font-size: 1em;
}

/* index.html 에서 쓴 클래스들 */

.last-row {
  font-family: "Noto Serif KR";
  color: black;
  font-size: 5em;
  position: relative;
  top: -1em;
  font-weight: 500;
}

.start {
  font-family: "Libre Barcode 39";
  font-size: 2em;
  text-decoration: none;
  color: inherit;

}

.date {
  font-size: 1.1em;
  position: relative;
  top: -4.2em;
  left: 0.1em;
  font-family: "Noto Serif KR";
  line-height: 1.5;
}

.box-container {
  width: 150px; /* 상자의 너비 */
  height: 50px; /* 상자의 높이 */
  background-color: rgba(255, 255, 255, 0); /* 흰색, 투명도 0.8 */
  border: 2px solid white; /* 흰색 테두리, 1px 두께 */
  border-radius: 20px; /* 둥근 테두리 반지름 */
  padding: 20px; /* 안 여백(padding) 설정 */
  display: flex; /* 부모 컨테이너를 flex로 설정하여 자식 요소들을 정렬 */
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 수평 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: white; /* 글자 색상 */
  font-size: 18px; /* 글자 크기 */
  font-weight: bold; /* 글자 두껍게 설정 */
}

/* 글자 스타일링 */
.box-text {
  font-size: 18px; /* 글자 크기 */
  color: white; /* 글자 색상 */
  font-weight: bold; /* 글자 두껍게 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.map-ele {
  width: 60%;
}

.exp-ele {
  width: 40%;
}

.small-title-kr {
  font-size: 1.5em;
  font-weight: bold;
}

.map-ele {
  width: 60%;
}

.exp-ele {
  width: 40%;
}

.small-title-kr {
  font-size: 1.5em;
  font-weight: bold;
}

/*chatbot.js 에 쓴 클래스들*/

